<!DOCTYPE html>
<html lang="es-ar" >
<head>
  <meta charset="UTF-8">
  <title>Jony y Karen</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="wheel__wrapper">
    <div class="wheel__controller" @click="turning">
      <h6 class="controller__label">Girar</h6>
    </div>
    <div class="content__wrapper" ref="roulette" @transitionend="turningEnd">
      <div class="sector__wrapper">
        <div
          class="sector"
          :class="awardIdx === i && isShowResult? 'is-highlight' : ''"
          v-for="(p, i) in prizes"
          :style="`transform: rotate(${0.25 - (1/length)/2 - i*(1/length)}turn) skew(${90 - 360/length}deg)`"
        ></div>
      </div>
      <div class="label__wrapper">
        <div
          class="label"
          v-for="(p, i) in prizes"
          :style="`transform: translateX(-50%) rotate(${-i*(1/length)}turn)`"
          :class="awardIdx === i && isShowResult ? 'is-highlight' : ''"
        >
          <i class="icon"></i>
          <h2 class="text">{{ p.text }}</h2>
        </div>
      </div>
    </div>
    <div class="result__wrapper" :class="isShowResult ? 'is-show': ''">
      <div class="result__inner">
        <div class="congratute">¡A JUGAR!</div>
        <div class="result__text">
          <!--<h1 class="prefix-award">LA PREGUNTA ES...</h1>-->
          <h1 class="award">{{ result }}</h1>
        </div>
      </div>
      <div class="result-bg-dec__wrapper">
        <i v-for="i in 8" class="result-bg-dec fa fa-heart" ></i>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
