@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700i");
#app {
  font-family: "Segoe UI", "Avenir", Helvetica, Arial, sans-serif, 微軟正黑體;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5858b9;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wheel__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  overflow: hidden;
}
.wheel__wrapper .wheel__controller {
  position: fixed;
  width: 128px;
  height: 230px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 51px));
  z-index: 3;
  background-image: url("~@/assets/lucky-wheel/hand.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  overflow: hidden;
}
.wheel__wrapper .wheel__controller .controller__label {
  background-color: #fafaf8;
  width: 100%;
  height: 107px;
  border-radius: 50%;
  color: #b24fae;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 107px;
  border: 1px solid black;
}
.wheel__wrapper .result__wrapper {
  position: absolute;
  width: 100%;
  height: 237px;
  font-weight: bold;
  background-color: #343baa;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
  opacity: 0;
  overflow: hidden;
}
.wheel__wrapper .result__wrapper.is-show {
  opacity: 1;
  transition: opacity 0.3s;
}
.wheel__wrapper .result__wrapper .result__inner {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wheel__wrapper .result__wrapper .result__inner .congratute {
  flex: 0 0 300px;
  font-size: 50px;
  color: white;
  text-align: right;
  letter-spacing: -2px;
  line-height: 1.1;
}
.wheel__wrapper .result__wrapper .result__inner .result__text {
  flex: 0 0 300px;
}
.wheel__wrapper .result__wrapper .result__inner .result__text .prefix-award {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}
.wheel__wrapper .result__wrapper .result__inner .result__text .award {
  width: fit-content;
  font-size: 32px;
  
  color: #b24fae;
  position: relative;
  letter-spacing: -3px;
}
.wheel__wrapper .result__wrapper .result__inner .result__text .award::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #b24fae;
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec {
  font-size: 42px;
  opacity: 0.1;
  color: #fafaf8;
  position: absolute;
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(1) {
  left: -20px;
  top: 60%;
  transform: rotate(30deg);
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(2) {
  top: 3px;
  left: 22%;
  transform: rotate(-30deg);
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(3) {
  bottom: -16px;
  left: 240px;
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(4) {
  top: -12px;
  left: 6%;
  transform: rotate(30deg);
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(5) {
  top: -5px;
  right: 20%;
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(6) {
  bottom: -10px;
  right: 16%;
  transform: rotate(-30deg);
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(7) {
  right: -3px;
  top: 20px;
  transform: rotate(30deg);
}
.wheel__wrapper .result__wrapper .result-bg-dec__wrapper .result-bg-dec:nth-child(8) {
  right: 5%;
  top: 50%;
}
.wheel__wrapper .content__wrapper {
  width: calc(100% - 40px);
  max-width: 540px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  transition: all 0;
}
.wheel__wrapper .content__wrapper.turning {
  transition: all 1s cubic-bezier(0, 0.48, 0.13, 1);
}
.wheel__wrapper .content__wrapper .sector__wrapper {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  overflow: hidden;
}
.wheel__wrapper .content__wrapper .sector__wrapper .sector {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  margin-top: -50%;
  margin-left: -50%;
  transform-origin: 100% 100%;
  font-size: 24px;
  display: flex;
  border: 1px solid black;
}
.wheel__wrapper .content__wrapper .sector__wrapper .sector:nth-child(odd) {
  background-color: #fafaf8;
}
.wheel__wrapper .content__wrapper .sector__wrapper .sector:nth-child(even) {
  background-color: #628acb;
}
.wheel__wrapper .content__wrapper .sector__wrapper .sector.is-highlight {
  background-color: #b24fae;
}
.wheel__wrapper .content__wrapper .label__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wheel__wrapper .content__wrapper .label__wrapper .label {
  position: absolute;
  top: 0;
  left: 50%;
  height: 50%;
  padding: 50px;
  transform-origin: 50% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wheel__wrapper .content__wrapper .label__wrapper .label:nth-child(odd) {
  color: #628acb;
}
.wheel__wrapper .content__wrapper .label__wrapper .label:nth-child(even) {
  color: #fafaf8;
}
.wheel__wrapper .content__wrapper .label__wrapper .label.is-highlight {
  color: white;
}
.wheel__wrapper .content__wrapper .label__wrapper .label .text,
.wheel__wrapper .content__wrapper .label__wrapper .label .icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1.5px;
}
.wheel__wrapper .content__wrapper .label__wrapper .label .icon {
  font-size: 44px;
}
.wheel__wrapper .content__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("~@/assets/lucky-wheel/wheel-outside.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.wheel__wrapper .content__wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
  border-radius: 50%;
}